{% extends 'admin/admin_base.html' %}
{% load static %}
{% block body %}





<div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="elfsight-app-239f548f-72ad-4983-85bb-34d3572f2487"></div>

<div class="col-lg-13">
           <div class="card">
            <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">

                
            </ul>
            <div class="tab-content p-3">

                <div class="tab-pane active" id="messages">
	       
	   </div>
            


        

	 </div>
	</div><!--End Row-->

      <!--End Dashboard Content-->

	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->


    <!-- End container-fluid-->

    </div>
  </div>





{% endblock %}